<html>
	<head>
		<link type="text/css" href="/static/css/smoothness/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/jquery.contextMenu.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/application.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.8.21.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.contextMenu.js"></script>
		<script type="text/javascript" src="/static/js/json2.js"></script>
		<script type="text/javascript" src="/static/js/application.js"></script>
	</head>
	<body>
		<div>
			<table width=100% border=0 height=2600>
				<tr valign=top><td id=menu class=menu width=60></td><td id=content class=content></td></tr>
			</table>
		</div>
	</body>
</html>
