<!doctype html>
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.jeditable.mini.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/display.js"></script>
<title>Welcome to Wukong Master - Application Info</title>

<div class="container" style="margin-top: 50px">

  <section>
  <a href="/applications" class="btn">Go back</a>
  </section>

  <header class="jumbotron subhead">
  {% if not application.name %}
  <h1>Application "<span id="name">click me to change</span>"</h1>
  {% else %}
  <h1>Application "<span id="name">{{ application.name }}</span>"</h1>
  {% end %}
  {% if not application.desc %}
  <p class="lead"><span id="name">click me to change description</span></p>
  {% else %}
  <p class="lead"><span id="name">{{ application.desc }}</span></p>
  {% end %}
  </header>

  <section>
  <div class="page-header">
    <h1>Application Graph</h1>
  </div>
  <div class="row">
    <div class="span12">
      <form id="form1" action="/applications/{{ app_id }}" method="POST" enctype="multipart/form-data">
        <label>Bog file</label>
        <input type="file" name="bog_file" />
        <input type="submit" value="Create application" />
      </form>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <iframe id="graph" src="/applications/{{ app_id }}/fbp/load" width="100%" height="100%"></iframe>
    </div>
  </div>
  </section>

  <section>
  <div class="page-header">
    <h1>Application Status</h1>
  </div>
  <div class="row">
    <div class="span12">
      <p><span id="status">{{ application.getStatus() }}</span></p>
    </div>
  </div>
  </section>

</div>
