
<html>
	<head>
		<link type="text/css" href="/static/css/smoothness/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/jquery.contextMenu.css" rel="stylesheet" />
		<link type="text/css" href="/static/css/fbp.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery-ui-1.8.21.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.contextMenu.js"></script>
		<script type="text/javascript" src="/static/js/jcanvas.js"></script>
		<script type="text/javascript" src="/static/js/json2.js"></script>
		<script type="text/javascript" src="/static/js/block.js"></script>
		<script type="text/javascript" src="/static/js/line.js"></script>
		<script type="text/javascript" src="/static/js/fbp.js"></script>
		<script type="text/javascript" src="/static/js/flowlist.js"></script>
		<script type="text/javascript" src="/static/js/test/__comp__threshold.js"></script>
		<script type="text/javascript" src="/static/js/test/__comp__condition_selector_boolean.js"></script>
		<script type="text/javascript" src="/static/js/test/__comp__light_actuator.js"></script>
		<script type="text/javascript" src="/static/js/test/__comp__condition_selector_short.js"></script>
		<script type="text/javascript" src="/static/js/test/__comp__and_gate.js"></script>
		<script type="text/javascript" src="/static/js/test/__comp__numeric_controller.js"></script>
	</head>
	<body scrolling="no">
		<canvas id=canvas style="position:absolute; left:100; top:50;" height=600 width=800></canvas>
		<div id=client></div>
		<canvas id=canvastop style="position:absolute; left:0; top:50;" height=600 width=800></canvas>
		<div id=connection>
		<table>
		<tr><td>From</td></tr>
		<tr>
		<td><select id=connection_src></select></td>
		</tr>
		<tr><td>To</td></tr>
		<tr>
		<td><select id=connection_act></select></td>
		</tr>
		</table>
		</div>
		<div id=msg style="position:absolute;background-color:#ffff00"></div>
		<div id=fileloader>
		<input type=text id=fileloader_file></input>
		</div>
		<div id=propertyeditor>
		<div> Location </div>
		<input type=text id=propertyeditor_location></input>
		</div>
		<div id="progress"><div id="compile_status"></div>
		<div id="normal"></div><div id="critical_error"></div>
		<div id="urgent_error"></div></div>
	</body>
</html>
