<div class="tab-pane" id="properties">
    <table class="table">
        <thead>
            <tr>
                <th>Node</th>
                <th>WuClass</th>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for property in properties_json %}
            <tr>
                <td>
                    {{ property.wuclass.node_id }}
                </td>
                <td>
                    {{ property.wuclass.name }}
                </td>
                <td>
                    {{ property.name }}
                </td>
                <td>
                    {{ property.value }}
                </td>
            </tr>
            {% end %}
        </tbody>
    </table>
</div>

