<div class="tab-pane" id="properties">
    <table class="table">
        <thead>
            <tr>
                <th>WuClass</th>
                <th>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for property_json in properties_json %}
            <tr>
                <td>
                    {{ property_json['wuclassname'] }}
                </td>
                <td>
                    {{ property_json['name'] }}
                </td>
                <td>
                    {{ property_json['value'] }}
                </td>
            </tr>
            {% end %}
        </tbody>
    </table>
</div>

