<div id=topbar>
    <script>
      var current_application = "{{ application.id }}";
      $('#back').click(function() {
        // This works because of lazy evaluation (it is injected to the context of application.js)
        window.options = {repeat: false};
        application_fill();
      });
    </script>
    <script type="text/javascript" src="/static/js/topbar.js"></script>

    <button class="btn btn-info" id="back">Back</button>
    <!--<button id="save">Save</button>-->

    <!--<div class=status>-->
      <!--<img class=activating>{{ application.getStatus() }}-->
    <!--</div>-->

    <i style="font-size: 200%;">{{ application.name }}</i>
    <p>
      <!--<h1>{{ title }}</h1>-->
      <!--<h2>{{ application.name }}</h2>-->
      <!--<small>{{ application.desc }}</small>-->

      <!--<form class=form-inline>-->
        <!--<label>Name</label>-->
        <!--<input id="name" value="{{ application.name }}" />-->
        <!--<label>Description</label>-->
        <!--<input id="desc" value="{{ application.desc }}" />-->
      <!--</form>-->

      <!--<p>-->
        <!--<label>ID</label>-->
        <!--{{ application.id }}-->
      <!--</p>-->

      <!--<p>-->
        <!--<label>Directory name</label>-->
        <!--{{ application.dir }}-->
      <!--</p>-->

      <!--<p>-->
        <!--TODO: Advanced settings (config.h)-->
      <!--</p>-->

    </p>
</div>
