<script type="text/javascript" src="/static/js/tree_display.js"></script>
<link href="jquery.treeview.css"  rel="stylesheet"/>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="jquery.treeview.js"></script>

    <tbody>
        {% for node_info in node_infos %}
        <tr class={{ 'success' if node_info.isResponding() else 'error' }}>
            <td id="nodeId">
                {{ node_info.nodeId }}
            </td>
            <td>
                {% if set_location %}
                <div class="input-append">
                    <input class="span2" type="text" value="{{ node_info.location }}"> <button type="button" class="btn set-location">Set Location</button>
                </div>
                {% else %}
                {{ node_info.location }}
                {% end %}
            </td>
            <td>
                {{ len(node_info.wuClasses) }} WuClasses and {{ len(node_info.wuObjects) }} WuObjects
                <a role=button id=node{{ node_info.nodeId }} data-toggle=modal href='#myModal' class='btn more'>Classes/Objects list</button>
            </td>
        </tr>
        {% end %}
    </tbody>

<body>
    <p>Locatoin Tree</p>
    <ul id="tree" class="treeview">
        <li>PC
            <ul>
            <li>ハードウェア
                <ul>
                <li>本体</li>
                <li>ディスプレイ</li>
                <li>プリンタ</li>
                <li>周辺機器</li>
                </ul>
            </li>
            <li>ソフトウェア
                <ul>
                <li>OS</li>
                <li>ビジネス
                    <ul>
                    <li>ワードプロセッサ</li>
                    <li>表計算</li>
                    <li>プレゼンテーション</li>
                    <li>データベース</li>
                    </ul>
                </li>
                <li>Web制作</li>
                </ul>
            </li>
            </ul>
        </li>
        <li>デジタル家電</span>
            <ul>
            <li>テレビ</li>
            <li>DVD／HDDレコーダー</li>
            <li>デジタルカメラ</li>
            </ul>
        </li>
    </ul>

<script type="text/javascript">
$(document).ready(function() {
    $("#tree").treeview();
});
</script>
</body>

<!--
<div id='wrapper'>
    <div class=row-fluid>
        <div class="span12">
            <div class=tabbable>
                <ul class="nav nav-pills">
                    <li class="active"><a href="#testrtt" data-toggle="tab">Adding/Removing Nodes</a></li>
                    <li><a href="#nodes" data-toggle="tab">Node location</a></li>
                </ul>
                <div class=tab-content>
                    <div class="tab-pane" id="nodes">
                        {% include "monitor-nodes.html" %}
                    </div>
                    <div class="tab-pane active" id="testrtt">
                        <button id="include">Add nodes</button>
                        <button id="exclude">Remove nodes</button>
                        <button id="stop">Stop to complete operation</button>

                        <pre id="log">
                        {% for l in log %}
                        {{ l }}
                        {% end %}
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
