<!doctype html>
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
<title>Welcome to Wukong Master — Upload your bog file to initiate deployment</title>

<h1>WuKong Master Application deployment portal</h1>
<h1>
  <form enctype="multipart/form-data" action="/" method="POST">
    <input type="file" name="bog_file" />
    <input type="submit" value="upload bog" />
  </form>
</h1>
