html, body {
    height: 100%;
    background: url(/static/images/background_tile-100x100.png) repeat left top;
}

body > table {
    height: 100%;
}
.menu {
    /*background-color: rgb(207,226,243);*/
    background-color: #FFE3BF;
    border-right: 1px solid #FD9800;
	min-width:60px;
    min-height: 100%;
}

.content {
	/*background-color: rgb(217,217,217);*/
    background: url(/static/images/background_tile-100x100.png) repeat left top;
	width: 100%
}

.appadd {
	background-image: url('/static/images/appadd.png');
	width:36px; height:36px;
    margin: 12px;
    -moz-box-shadow: 5px 5px rgb(0,0,0);
    -webkit-box-shadow: 5px 5px rgb(0,0,0);
    box-shadow: 5px 5px rgb(0,0,0);
}

.zwave {
	background-image: url('/static/images/door.png');
	width:36px; height:36px;
    margin: 12px;
    -moz-box-shadow: 5px 5px rgb(0,0,0);
    -webkit-box-shadow: 5px 5px rgb(0,0,0);
    box-shadow: 5px 5px rgb(0,0,0);
}

.activating {
	background-image: url('/static/images/active.png');
	width:32px; height:32px;
}

.listitem:nth-child(even) {
	background-color: rgb(217,234,211);
}

.listitem:nth-child(odd) {
	background-color: rgb(147,196,125);
}

.status {
    display: inline;
}

/*
.appmonitor {
	background-image: url('/static/images/monitor.png');
	width:36px; height:36px;
}
.appdeploy {
	background-image: url('/static/images/deploy.png');
	width:36px; height:36px;
}
.appdel {
	background-image: url('/static/images/del.png');
	width:36px; height:36px;
}
*/

.appname {
    padding: 10px;
    width:100%;
    cursor: pointer;
}

.appact {
    min-width:112px;
    padding: 10px;
}

#topbar {
    padding: 10px;
}
