html, body {
    height: 100%;
}

body > table {
    height: 100%;
}
.menu {
	background-color: rgb(207,226,243);
	min-width:40px;
}

.content {
	background-color: rgb(217,217,217);
	width: 100%
}

.appadd {
	background-image: url('/static/images/appadd.png');
	width:32px; height:32px;
}

.activating {
	background-image: url('/static/images/active.png');
	width:32px; height:32px;
}

.zwave {
	background-image: url('/static/images/door.png');
	width:32px; height:32px;
}

.listitem:nth-child(even) {
	background-color: rgb(217,234,211);
}

.listitem:nth-child(odd) {
	background-color: rgb(147,196,125);
}

.status {
    display: inline;
}

.appmonitor {
	background-image: url('/static/images/monitor.png');
	width:32px; height:32px;
}
.appdeploy {
	background-image: url('/static/images/deploy.png');
	width:32px; height:32px;
}
.appdel {
	background-image: url('/static/images/del.png');
	width:32px;height:32px;
}

.appname {
	width:100%;
}

.appact {
	min-width:96px;
}
