.shadow {
	-moz-box-shadow:    3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow:         3px 3px 5px 6px #ccc;
}
.signal {
	background-color:#ffff00;
	border: 1px solid #000000;
    font-family:"Trebuchet MS", Helvetica, sans-serif !important; 
    font-size: 10pt !important; 
    word-wrap: break-word !important;

}
.action {
	background-color:#ffff00;
	border: 1px solid #000000;
    font-family:"Trebuchet MS", Helvetica, sans-serif !important; 
    font-size: 10pt !important; 
    word-wrap: break-word !important;
}
