#[network]
#for NTU zwave gateway, 10.3.36.231; for UCI gatway, 192.168.2.1
ZWAVE_GATEWAY_IP=192.168.2.1



#[makefile]
#type of device
DEVICE = atmega2560

#WuClass to be written into WuDevice
DEFAULT_CLASS = AdcDemo
#DEFAULT_CLASS = TestWKPF
#DEFAULT_CLASS = DefaultWKPF
#DEFAULT_CLASS = HAScenario1

# Default do discovery, unless overridden by a commandline parameter, in which case this gets ignored
DISCOVERY_FLAGS=-D

# port number for Wukong Master
MASTER_PORT = 5000

# port number for WuDevice
PORT = /dev/tty.usbmodemfa1311

#[master]
#nanovmtool executable
ROOT = ../../
NANOVMTOOL = %(ROOT)s/nanovmtool/

#javac executable
