.menu {
	background-color: rgb(207,226,243);
	min-width:40
}

.content {
	background-color: rgb(217,217,217);
	width: 100%
}

.appadd {
	background-image: url('appadd.png');
	width:32; height:32
}


.listitem_even {
	background-color: rgb(217,234,211);
}

.listitem_odd {
	background-color: rgb(147,196,125);
}


.appmonitor {
	background-image: url('monitor.png');
	width:32; height:32
}
.appdeploy {
	background-image: url('deploy.png');
	width:32; height:32
}
.appdel {
	background-image: url('del.png');
	width:32;height:32
}

.appname {
	width:100%
}

.appact {
	min-width:96
}
